@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --color-border--1: #bfbfbf;
  --color-blue--1: rgb(70, 145, 246);
  --color-black-1: rgba(19, 18, 18, 0.87);
  font-family: Roboto, Arial, sans-serif;

  color: rgba(19, 18, 18, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1.6rem;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.mainchild {
  width: 75%;
}
